<div class="login__container">
	<div class="login__container-item">
		<h3>Angular Starter Kit</h3>
		<p>
			Feel free to use this kit personally and commercially.
		</p>
		<hr/>
		<div class="clearfix">
			<ul class="contact">
				<li><a href="https://github.com/wastefactory" target="_blank"><i class="fa fa-github"></i></a></li>
				<li><a href="https://www.linkedin.com/in/kristianjabilles" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				<li><a href="https://www.xing.com/profile/KristianTheodore_Jabilles" target="_blank"><i class="fa fa-xing"></i></a></li>
			</ul>
		</div>
	</div>
</div>